body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.screen {
    border: 2vw solid #e6c200; /* ビューポート幅に応じたボーダーサイズ */
    background-color: white;
    padding: 5vw;
    width: 80vw;
    margin: 10vw auto;
    text-align: center;
    display: none;
    position: relative;
    transition: all 0.5s ease;
}

button, .foodButton {
    background-color: #e6c200;
    color: black;
    border: 2px solid #cccccc;
    padding: 2vw 4vw;
    font-size: 3vw;
    cursor: pointer;
    margin-top: 2vw;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

button:hover, .foodButton:hover {
    background-color: #d4b000;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* パソコン向けのスタイル */
@media (min-width: 601px) {
    .screen {
        width: 60%;
        padding: 20px;
        margin: 50px auto;
        border-width: 10px;
    }

    button, .foodButton {
        font-size: 16px;
        padding: 10px 20px;
    }

    h1, h2 {
        font-size: 2em;
    }
}

/* スマホ向けスタイル */
@media (max-width: 600px) {
    .screen {
        width: 95%;
        margin: 20px auto;
        padding: 10px;
        border-width: 5px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    button, .foodButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .rules-list {
        font-size: 14px;
        list-style-position: inside; /* ナンバリングと文字の間の隙間を埋める */
    }
}

.rules-list {
    text-align: left;
    padding-left: 0;
    font-size: 18px;
    margin: 10px auto;
    width: 80%;
    list-style-position: inside; /* ナンバリングと文字の間の隙間を埋める */
}

#restartButton {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    background-color: red;
    color: white;
}

.selected {
    border: 3px dashed green;
}

.adjectiveNoun {
    font-size: 24px;
    font-weight: bold;
}

/* いらないボタンと取り残しはないボタンに緑色を適用 */
.foodButton.noNeed,
.foodButton.noLeftover {
    background-color: green;
    color: white;
}

/* 結果画面の情報表示 */
#resultScreen .result-info {
    margin: 20px 0;
    font-size: 18px;
}

/* フードボタンのマージン設定 */
.foodButton {
    margin: 5px;
}

/* 結果画面のリストスタイルをリセット */
#resultScreen ul {
    list-style-type: none;
    padding-left: 0;
}
